even_more!
test_default_repr (test_me.Test) ... ok
test_dot_call (test_me.Test) ... ok
test_keyword_call (test_me.Test) ... ok
test_price_setter (test_me.Test) ... ok

----------------------------------------------------------------------
Ran 4 tests in 0.001s

OK